html {
    scroll-behavior: smooth;
}

.homepage {
    padding: 2% 2%;
    background-color: azure;
    background-repeat: no-repeat;
    background-size: cover;
}

.navig {
    background-color: black;
    width: 99%;
    position: fixed;
    z-index: 100;
}

.navig a {
    color: white;
    padding: 1%;
    text-decoration: none;
    font-size: 100%;
    display: inline-block;
    position: relative;
}

.navig a::after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: 20%;
    left: 10%;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navig a:hover::after {
    background-color: #0000ee;
    transform: scaleX(1);
    transform-origin: bottom left;
}


.heading {
    color: white;
    background-color: #333;
    font-size: 300%;
}

.center {
    text-align: center;
}

.ripple {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 200%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Courier New', Courier, monospace;
    background-color: #0000ee;
}

.r {
    position: relative;
}

.r div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
}

.r:hover div {
    border-radius: 50%;
    background-color: #333;
    opacity: 0;
    animation: doripple 1s;
}


@keyframes doripple {
    from {
        opacity: 1;
        transform: scaleX(0);
    }

    to {
        opacity: 0;
        transform: scaleX(1);
    }
}

.marq a{
    font-size: 30px;
    border-radius: 40%;
    background-color: #333;
    padding: 3%;
    text-decoration: none;
    color:white;
    margin: 0% 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 0.5s;
}

.marq a:hover{
    border-radius: 50%;
    font-size: 40px;
    background-color: black;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    border-style: solid;
    text-align:center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

.container img {
    height: 200px;
    transition: 0.5s;
}
.container:hover img{
    height: 300px;
}


.sub{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 1%;
    position:relative;
    height: 15%;
    border-radius: 10%;
}

.login {
    margin: 50px auto;
    border-style: solid;
    border-width: 1px;
    padding: 1% 1%;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

.login input {
    width: 99%;
    font-size: xx-large;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Courier New', Courier, monospace;
}

.login textarea {
    width: 99%;
    font-size: large;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

.login p {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.login span {
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer{
	background-color: #333; 
	/* height:60px; */
    padding: 1%;
    font-size:xx-large;
    color: white;
    font-family: 'Courier New', Courier, monospacex;
    a{
        color:aqua;
    }
}


.footer img{
    background-color:transparent; 
	height:50px; 
	float:right;
	margin: 0px 5px;
    border: none;
}

.footer div{
    display: inline;
}

.footer div:hover img{
    animation: bounce 0.5s;
}

@keyframes bounce{
    0% { transform: translate3d(0, 0, 0);}
    50% { transform: translate3d(0, -10px, 0);}
    100% { transform: translate3d(0, 0, 0);}
}
